fastapi==0.110.0
uvicorn==0.27.1

torch==2.1.2
torchvision==0.16.2

pillow==10.2.0
psutil==5.9.8
requests==2.31.0
python-multipart==0.0.9
pytesseract==0.3.10

numpy==1.26.4
opencv-python-headless==4.9.0.80
scipy==1.11.4
scikit-learn==1.3.2
reportlab==4.1.0
python-dotenv==1.0.1
pymongo==4.6.1